/**
 * START --- TAILWIND GENERATOR EDIT
 *
 * `yarn rw setup tailwind` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#add-tailwind-to-your-css
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/**
 * END --- TAILWIND GENERATOR EDIT
 */

.love {
  font-family: 'Lobster', cursive;
}

body {
  overflow-x: hidden !important;
}
#redwood-app {
  overflow-x: hidden !important;
}

/* *amazinCarousel Gropu 1 */

.amazingCarousel_1 {
  background-image: url('./resource/pic_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  /* clip-path: polygon(25% 0, 0 0, 0 100%, 0 100%); */
  /* clip-path: polygon(0 0, 25% 0, 0 100%, 0% 100%); */
  /* animation: amazingCarousel_1 1s forwards; */
}

.amazingCarousel_1_extended {
  /* background-image: url('./resource/pic_1.jpg'); */
  /* background-image: url('./resource/PIC01.gif'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.extended {
  animation: amazingCarousel_1_extended 1s forwards;
}

.fading {
  z-index: -9 !important;
  animation: fading 1s forwards 0.1s;
}

.amazingCarousel_1a {
  background-image: url('./resource/pic_1a.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  /* clip-path: polygon(25% 0, 0 0, 0 100%, 0 100%); */
}

/* *--- */

/* *amazinCarousel Gropu 2 */
.amazingCarousel_2 {
  background-image: url('./resource/pic_2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  /* clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%); */
  /* clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%); */
  /* clip-path: polygon(25% 0, 50% 0, 25% 100%, 0% 100%); */
}
.amazingCarousel_2a {
  background-image: url('./resource/pic_2a.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  /* clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%); */
  /* clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%); */
  /* clip-path: polygon(25% 0, 50% 0, 25% 100%, 0% 100%); */
}

@keyframes amazingCarousel_1_extended {
  0% {
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
    /* clip-path: polygon(0 0, 25% 0, 0 100%, 0% 100%); */
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes fading {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
}

/** --- */

/* *amazinCarousel Gropu 3 */

.amazingCarousel_3 {
  background-image: url('./resource/pic_3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  /* clip-path: polygon(50% 0, 75% 0, 50% 100%, 25% 100%); */
  /* clip-path: polygon(50% 0, 100% 0, 100% 100%, 25% 100%); */
}
.amazingCarousel_3a {
  background-image: url('./resource/pic_3a.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  /* clip-path: polygon(50% 0, 75% 0, 50% 100%, 25% 100%); */
  /* clip-path: polygon(50% 0, 100% 0, 100% 100%, 25% 100%); */
}

.testContainer {
  background-image: url('./resource/expinsight.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  max-width: 840px;
  height: 560px;
}
.testContainer2 {
  background-image: url('./resource/phone.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
.expinsightDemo {
  background-image: url('./resource/expinsightSmall.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: left;
  background-position-y: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.expinsight {
  background-image: url('./resource/expinsight.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: left;
  background-position-y: center;
}

/** --- */

/* *amazinCarousel Gropu 4 */
.amazingCarousel_4 {
  background-image: url('./resource/pic_4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  /* clip-path: polygon(75% 0, 100% 0, 75% 100%, 50% 100%); */
}
.amazingCarousel_4a {
  background-image: url('./resource/pic_4a.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  /* clip-path: polygon(75% 0, 100% 0, 75% 100%, 50% 100%); */
}

/** --- */

/* *amazinCarousel Gropu 5 */
.amazingCarousel_5 {
  background-image: url('./resource/pic_5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  /* clip-path: polygon(100% 0, 100% 0, 100% 100%, 75% 100%); */
}
.amazingCarousel_5a {
  background-image: url('./resource/pic_5a.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  /* clip-path: polygon(100% 0, 100% 0, 100% 100%, 75% 100%); */
}

/** --- */

.bgUpdateButton {
  transform: translateY(200%);
}

.myHeadLiterally {
  background-image: url('../src/resource/Capture.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.spinning {
  transition: all 0.6s;
  animation: spinning 1s infinite;
}

@keyframes spinning {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes letterOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* backward */
@keyframes letterOpacityBack {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.oneRowContainer_visible,
.sectionThreeProjectOneLeft_visible.sec3,
.sectionThreeProjectOneLeft_visible.sec5 {
  opacity: 1;
  transform: translateX(0vw);
  visibility: visible;
}

.sectionThreeProjectOneLeft_visible {
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.oneRowContainer_visible:nth-child(1) {
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.oneRowContainer_visible:nth-child(2) {
  transition: opacity 0.5s ease-out 0.1s, transform 0.5s ease-out 0.1s;
}

.oneRowContainer_visible:nth-child(3) {
  transition: opacity 0.5s ease-out 0.2s, transform 0.5s ease-out 0.2s;
}

.oneRowContainer_visible:nth-child(4) {
  transition: opacity 0.5s ease-out 0.3s, transform 0.5s ease-out 0.3s;
}

.oneRowContainer_visible:nth-child(5) {
  transition: opacity 0.5s ease-out 0.4s, transform 0.5s ease-out 0.4s;
}
.oneRowContainer_visible:nth-child(6) {
  transition: opacity 0.5s ease-out 0.5s, transform 0.5s ease-out 0.5s;
}
.oneRowContainer_visible:nth-child(7) {
  transition: opacity 0.5s ease-out 0.6s, transform 0.5s ease-out 0.6s;
}

.oneRowContainer,
.sectionThreeProjectOneLeft.sec3,
.sectionThreeProjectOneLeft.sec5 {
  opacity: 0;
  transform: translateX(-20vw);
  visibility: visible;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  will-change: opacity, visibility;
}

.myIntroSectionTwoRight,
.sectionThreeProjectOneRight,
.sectionThreeProjectOneLeft.sec4 {
  opacity: 0;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  transform: translateX(20vw);
  visibility: visible;
  will-change: opacity, visibility;
}

.myIntroSectionTwoRight_visible,
.sectionThreeProjectOneRight_visible,
.sectionThreeProjectOneLeft_visible.sec4 {
  opacity: 1;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  transform: translateX(0vw);
  visibility: visible;
}

.sectionFourLeft {
  background-image: url('../src/resource/expenseInsight.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.sectionFiveRight {
  background-image: url('../src/resource/sectionFive.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.sectionOneContainer,
.gray300overlay {
  height: calc(100vh + 2.5rem) !important;
}

.navbar_top {
  background: transparent;
  transition: 0.5s ease;
}

nav div a::after {
  content: '';
  display: block;
  height: 3px;
  background: transparent;
  width: 0px;
  transition: 0.5s ease;
  font-weight: bold;
}

nav div a:hover::after {
  width: 100%;
  background: #4aae9b;
}

.footerIconContainer:hover .footerIcon {
  transition: all;
  transition-duration: 300ms;
  transform: translateY(5rem);
}

.footerIconContainer:hover .footerIcon2 {
  transition: all;
  transition-duration: 300ms;
  transform: translateY(0rem);
}

.footerIconContainer .footerIcon,
.footerIconContainer .footerIcon2 {
  transition: none;
}

.footerIconContainer .footerIcon2 {
  transform: translateY(-5rem);
}

/* Burgerline */

.burgerline {
  display: block;
  position: relative;
  top: 0%;
  width: 30px;
  background: #10b981;
  margin: auto;
  height: 2px;
  transition: 1s ease;
  opacity: 1;
}

.burgerline::before {
  content: '';
  display: block;
  position: relative;
  width: 30px;
  height: 2px;
  margin: auto;
  background: #10b981;
  top: 10px;
  left: 0px;
  transition: 0.5s ease;
}

.burgerline::after {
  content: '';
  display: block;
  position: relative;
  width: 30px;
  height: 2px;
  margin: auto;
  background: #10b981;
  top: -12px;
  left: 0px;
  transition: 0.5s ease;
}

.burgerline.open {
  transform: rotate(180deg);
  background: transparent;
}

.burgerline.open::before {
  transform: translateY(-10px) rotate(45deg);
  background: #ef4444;
}

.burgerline.open::after {
  transform: translateY(10px) rotate(-45deg);
  background: #ef4444;
}

.myHeadLiterally:hover,
.sectionTwoLeftOneIcon:hover {
  transition: all 0.6s;
  animation: spinning 1s infinite;
}

.iconContainer:hover .startDust,
.iconContainer:hover .startDustx {
  background-image: url('./resource/starDust.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
